<% layout("layouts/boilerplate")%>

<div class="row mt-3">
<div class="col-8 offset-2">
<h3>Create New Listing</h3>
<form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data"> 
    <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" id="title" name="listing[title]" placeholder="Add Catchy Title" class="form-control" required>
    <div class="valid-feedback">Title looks good !!!</div>
    
    </div>

    <div class="form-group mb-3">
  <label for="category">Category</label>
  <select class="form-control" id="category" name="listing[category]" required>
    <option value="Trending">Trending</option>
    <option value="Rooms">Rooms</option>
    <option value="Iconic cities">Iconic cities</option>
    <option value="Mountains">Mountains</option>
    <option value="Castles">Castles</option>
    <option value="Amazing Pools">Amazing Pools</option>
    <option value="Camping">Camping</option>
    <option value="Farms">Farms</option>
    <option value="Arctic">Arctic</option>
    <option value="Boats">Boats</option>
    <option value="Domes">Domes</option>
  </select>
</div>

    
    <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" id="description"  class="form-control" required></textarea>
    <div class="invalid-feedback">Please enter a short description</div>
    </div>

    <div class="mb-3">
    <label for="image" class="form-label">Upload Listing Image</label>    
    <input type="file" id="image" name="listing[image]"  class="form-control" required>
    </div>
    
<div class="row">
    <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>    
    <input id="price" name="listing[price]" placeholder="1200" class="form-control" required>
    <div class="invalid-feedback">Price should be valid </div>

    </div>
    
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>    
        <input type="text" id="country" name="listing[country]" placeholder="India" class="form-control" required>
    <div class="invalid-feedback">Country name should be valid </div>
    </div>  
    

</div>  

    <div class="mb-3">
    <label for="location" class="form-label">Location</label>    
    <input type="text" id="location" name="listing[location]" placeholder="Jaipur, Rajasthan" class="form-control" required>
    <div class="invalid-feedback">location should be valid </div>
    
</div>    

    
    
    <button class="btn btn-dark add-btn mt-3">Add</button>
    <br>
    <br>

</form>

</div>
</div>

